<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="../frame/layui/css/layui.css">
    <link rel="stylesheet" href="../frame/static/css/style.css">
    <link rel="icon" href="../frame/static/image/code.png">
</head>
<body>

<div class="login-main">
    <header class="layui-elip">智慧社区</header>
    <form class="layui-form">
        <div class="layui-input-inline">
            <input type="text" name="account" id="adminLogin" required lay-verify="required" placeholder="登陆名/手机号"
                   autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="password" name="password" id="password" required lay-verify="required" placeholder="密码"
                   autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-input-inline">
            <select id="type" class="layui-select">
                <option value="1">登陆名</option>
                <option value="2">手机号</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <button type="submit" id="btn" class="layui-btn btn-submit" lay-submit="" lay-filter="sub">立即登录</button>
        </div>

    </form>
</div>


<script src="../frame/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['form'], function () {

        // 操作对象
        var form = layui.form
            , $ = layui.jquery;
        // 验证
        form.verify({
            account: function (value) {
                if (value == "") {
                    return "请输入用户名";
                }
            },
            password: function (value) {
                if (value == "") {
                    return "请输入密码";
                }
            }
        });
        form.on('submit(sub)', function (data) {
            var btn = $(this);
            var adminLogin = $("#adminLogin").val();
            var password = $("#password").val();
            var type = $("#type").val();
            $.ajax({
                url: "/consumer/public/user/login",
                data: {
                    "loginString": adminLogin,
                    "password": password,
                    "type": type
                },
                type: "POST",
                dataType: "json",
                success: function (res) {
                    if (res.resp_code != 000000) {
                        var index = layer.alert(res.resp_message, {
                            skin: 'layui-layer-molv' //样式类名
                            , closeBtn: 0
                        }, function () {
                            $("#codeNumber").val("");
                            $("#password").val("");
                            $("#type").val(type);
                            layer.close(index);
                        });
                    } else if (res.resp_code == 000000) {
                        console.log(1)
                        location = "index.html?" + res.result.token;
                    }
                }
            });
            return false;
        })
        // you code ...


    });
</script>
</body>
</html>