<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.NotificationMessageMapper">

    <select id="queryNotificationMessage" resultType="com.zc.pojo.NotificationMessage">
        select * from notification_message where notification_message_release_time_unix &gt;= #{startTime} and
        notification_message_release_time_unix &lt;= #{endTime}
        <if test="type!=null ">
             and notification_message_type_id = #{type}
        </if>
         order by notification_message_release_time_unix desc limit
        #{page.currPage},#{page.pageSize}
    </select>
</mapper>