<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Data-Table 表格</title>
    <link rel="stylesheet" href="/frame/layui/css/layui.css">
    <!--<link rel="stylesheet" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">-->
    <link rel="stylesheet" href="/frame/static/css/style.css">
    <link rel="icon" href="/frame/static/image/code.png">
</head>
<body class="body">

<!-- 工具集 -->
<div class="my-btn-box">
    <span class="fl">
        <a class="layui-btn layui-btn-danger radius btn-add" id="btn-delete-all">新增活动</a>
        <!--        <a class="layui-btn btn-add btn-default" id="btn-add">添加</a>-->
        <a class="layui-btn btn-add btn-default" id="btn-refresh"><i class="layui-icon">&#x1002;</i></a>
    </span>
    <span class="fr">
        <form class="layui-form" style="display: inline-block" action="">
             <span class="layui-form-label">姓名</span>
         <div class="layui-input-inline">
            <input type="text" autocomplete="off" id="name" class="layui-input">
        </div>
            <div class="layui-input-inline">
            <select id="select">
                <option value="">请选择</option>
                <option value="0">已发布</option>
                <option value="1">报名中</option>
                <option value="1">已开始</option>
                <option value="1">已结束</option>
                <option value="1">已取消</option>
                <option value="1">报名已满</option>
            </select>
            </div></form>

        <button class="layui-btn mgl-20" id="search">查询</button>
    </span>
</div>

<!-- 表格 -->
<table id="dateTable" lay-filter="test"></table>

<!--是否显示-->
<script type="text/javascript" id="isHidden">
    {{# if (d.state == 0) { }}
    <span style = "color:green;font-weight:700"> 已发布 </span>
        {{# }else if (d.state == 1){ }}
    <span style = "color:yellow;font-weight:700"> 报名中 </span>
        {{# }else if (d.state == 2){ }}
    <span style = "color:blue;font-weight:700"> 已开始 </span>
        {{# }else if (d.state == 3){ }}
    <span style = "color:dark;font-weight:700"> 已结束 </span>
        {{# }else if (d.state == 4){ }}
    <span style = "color:red;font-weight:700"> 已取消 </span>
        {{# }else {}}
    <span style = "color:mauve ;font-weight:700"> 报名已满 </span>
        {{# }}}
</script>

<script type="text/javascript" id="isLimit">
    {{# if(d.limit == 0){ }}
    <span style = "color:green;font-weight:700"> 不限 </span>
        {{# }else{ }}
    <span style = "color:red;font-weight:700"> 限制 </span>
        {{# }}}
</script>

<script type="text/javascript" id="surNumber">
    {{# if(d.limit == 0){ }}
    ---
        {{# } }}

</script>
<script type="text/javascript" src="/frame/layui/layui.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script src="../js/request-function.js"></script>
<script type="text/javascript">




    // layui方法
    layui.use(['table', 'laypage','form', 'layer', 'vip_table'], function () {
        var currID=1;
        // 操作对象
        var form = layui.form
            , table = layui.table
            , layer = layui.layer
            , vipTable = layui.vip_table
            , laypage = layui.laypage
            , $ = layui.jquery;


        // 表格渲染
        var tableIns = table.render({
            elem: '#dateTable'                  //指定原始表格元素选择器（推荐id选择器）
            , height: vipTable.getFullHeight()    // 容器高度
            , cols: [[                  //标题栏
                {checkbox: false, sort: true, fixed: true, space: true}
                // , {width:60 ,title:'序号',fixed:'left',align:'center',templet:'<span>{{xuhao()}}</span>'}
                , {field: 'id',align:'center', title: '活动ID', width: 150}
                , {field: 'name', align:'center',title: '名称', width: 150}
                , {field: 'desc',align:'center', title: '描述', width: 150}
                , {field: 'releaser',align:'center', title: '发布人', width: 200}
                , {field: 'releaseTime', align:'center',title: '发布时间', width: 100}
                , {field: 'startTime', align:'center',title: '开始时间', width: 180}
                , {field: 'joinTime', align:'center',title: '报名时间', width: 180}
                , {templet: '#surNumber', align:'center',title: '最大报名人数', width: 180}
                , {templet: '#isLimit', align:'center',title: '是否限制', width: 180}
                , {templet: '#isHidden', align: 'center', title: '状态', width: 90}
                , {title: '操作', width: 160, align: 'center', toolbar: '#barOption'} //这里的toolbar值是模板元素的选择器
            ]]
            , id: 'dataCheck'
            , url: '/consumer/public/activity/page'
            , method: 'post'
            , where:{
                "token" : getQueryVariable()
            }
            , page: true
            , limits: [10, 30, 60, 90, 150, 300]
            , limit: 10 //默认采用10
            , loading: true
            , count: "totalCount"
            , done: function (res, curr, count) {

            }
        });

        $("#btn-delete-all").click(function () {
            layui.use('layer', function () {
                parent.layer.open({
                    type: 2,
                    title: '新增活动',
                    shadeClose: true,
                    shade: false,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['800px', '100%'],
                    content: 'admin/add-activity.html?token=' + getQueryVariable(),
                    end: function () {
                        $(".layui-laypage-btn").click()
                    }
                });
            });
        })

        // 获取选中行
        table.on('checkbox(dataCheck)', function (obj) {
            layer.msg('123');
            console.log(obj.checked); //当前是否选中状态
            console.log(obj.data); //选中行的相关数据
            console.log(obj.type); //如果触发的是全选，则为：all，如果触发的是单选，则为：one
        });
        //添加

        // 刷新
        $('#btn-refresh').on('click', function () {
            $(".layui-laypage-btn").click()
        });

        //查询搜索
        $("#search").click(function () {
            var token =  getQueryVariable();
            var state = $("#select").val();
            var name = $("#name").val();
            //刷新表格数据（重载）传输参数
            tableIns.reload({
                where: {
                    token: token ,
                    name: name,
                    status: state
                },
                page: {
                    curr: 1
                }
            });
        });

        table.on('tool(test)', function(obj){
            var obj=obj;
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            if(layEvent === 'edit'){ //编辑
                layui.use('layer', function(){
                    if(data.state==3){
                        parent.layer.msg("已结束")
                    }else {
                        parent.layer.confirm("您确定结束吗？",function() {
                            $.ajax({
                                url:'/consumer/admin/activity/end',
                                data:{
                                    id:data.id
                                },
                                headers:{
                                    "token":getQueryVariable()
                                },
                                type:'post',
                                dataType:'json',
                                success:function (res) {
                                    if(res.resp_code==000000){
                                        parent.layer.msg("结束成功")
                                        $(".layui-laypage-btn").click()
                                    }else{
                                        parent.layer.msg("结束失败")
                                    }
                                }
                            })
                        })
                    }
                });
            } else if(layEvent === 'del'){
                if(data.state==4){
                    parent.layer.msg("已取消")
                }else{
                    parent.layer.confirm("您确定取消吗？",function() {
                    $.ajax({
                        url:'/consumer/admin/activity/cancel',
                        data:{
                            id:data.id,
                        },
                        headers:{
                            "token":getQueryVariable()
                        },
                        type:'post',
                        dataType:'json',
                        success:function (res) {
                            if(res.resp_code==000000){
                                parent.layer.msg("取消成功")
                                $(".layui-laypage-btn").click()
                            }else{
                                parent.layer.msg("取消失败")
                            }
                        }
                    })
                    })
                }
            }

        });

        // you code ...
    });
    /**
     *渲染日期选择框
     */
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#startTime',
            type: 'datetime',
            format: 'yyyy-MM-dd HH:mm:ss'
        });
        laydate.render({
            elem: '#endTime',
            type: 'datetime',
            format: 'yyyy-MM-dd HH:mm:ss'
        })
    });
</script>
<!-- 表格操作按钮集 -->
<script type="text/html" id="barOption">
    {{# if(d.state == 2){ }}
    <a class="layui-btn layui-btn-mini layui-btn-danger" lay-event="edit"> 结束</a>
    {{# }else if(d.state == 4){}}
   ---
        {{# }else{}}
    <a class="layui-btn layui-btn-mini layui-btn-danger" lay-event="del"> 取消</a>
        {{# }}}
</script>
<!--订单详细页面弹出框-->
<script type="text/javascript" >

</script>
</body>
</html>